/* Media Queries for sections and font-size */
@media (max-width: 767px) {
    .show-on-desktop, .show-on-tablets, .hide-on-mobile { display: none!important; }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .show-on-desktop, .hide-on-tablets, .show-on-mobile { display: none!important; }
}
@media (min-width: 1024px) {
    .hide-on-desktop, .show-on-tablets, .show-on-mobile { display: none!important; }
}

/* Page dimension settings*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Navnar Logo */
#logo {
    width: 70px;
    height: 70px;
}

/* Navbar Text Color */
.nav-item {
    color: #ffb6b6;
}
/* Margin Bottom */
.margin-bottom-0 {
    margin-bottom: 0;
}

/* Navbar */
#buttonsLanguage {
    margin: 0;
    justify-content: flex-end;
}

/*Navbar Color*/
nav {
    background-color: #ffb6b6;
}

/* Social Button Color*/
.socialButton {
    color: #679b9b;
}

/* Twitter Button */
#twitterButton {
    margin-left: 2px;
}

/* Google+ Button */
#googlePlusButton {
    margin-left: 4px;
}

/* Link buttons colors */
a:visited {
    color: #679b9b;
}

/* Carousel Back-Color*/
#carousel {
    background-color: #fde2e2;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/* Paragraph dimensions */
p {
    margin: 10px;
}

/* Alignment */
.alignCenter {
    text-align: center;
}

/* Footer Alignment */
#footer {
    text-align: center;
    bottom: 0;
    background-color: #679b9b;
}

/* Non-profit Label*/
#nonProfit {
    align-self: left;
}

/* CSS Header*/
#header {
    margin-top: 7vh;
    margin-bottom: 3vh;
}

/* CSS Header*/
#header h1 {
    margin-bottom: 4vh;
}

/* CSS Main Text Index */
#mainIndex {
    margin-top: 3vh;
    margin-bottom: 6vh;
}

/* CSS Main Text Index */
#mainIndex p{
    margin-top: 3vh;   
}

/* Url Footer Color */
#url {
    color: black;
}

/* Events header */
#events {
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/* Events main */
#eventslist {
    margin-bottom: 10vh;
    background-color: #fde2e2;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

/* Donation Header */
#donationHeader {
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/* About us Text */
#abouttext {
    padding-top: 7vh;
    padding-bottom: 7vh;
    margin-bottom: 15px;
}
